/* src/components/Game.css */
/* Game.css */
/* .game-container {
  height: 100rem;
} */

html,
body {
  height: 100%;
  margin: 0;
}

.category-section {
  background-color: #24074286;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 2em;
}

.word-display span {
  display: inline-block;
  margin: 0 5px; /* Add spacing between letters */
  font-size: 44px;
}

/* style for the refresh button */
button.refresh {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button.refresh:hover {
  background-color: #1c5a32;
}

.hangman-figure {
  font-family: monospace;
  white-space: pre-wrap;
  font-weight: 300;
}

pre {
  font-weight: 800;
  font-size: 1.5rem;
}
