/* LetterButtons.css */

/* .letter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  touch-action: manipulation; /* Enable touch events on mobile */

/* button[disabled] {
  cursor: not-allowed;
  background-color: #ccc;
} */

/* LetterButtons.css */

.letter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  touch-action: manipulation; /* Enable touch events on mobile */

  /* Additional styles for mobile responsiveness */
  flex-wrap: wrap;
}

button {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  touch-action: manipulation; /* Enable touch events on mobile */
  transition: opacity 0.3s ease; /* Add a transition effect for opacity */

  /* Additional styles for mobile responsiveness */
  flex: 1 0 40%; /* Adjust the button width for small screens */
}

button.used {
  opacity: 0.5; /* Set opacity for used letters */
}

/* Media query for screens smaller than 600px (adjust as needed) */
@media only screen and (max-width: 600px) {
  .letter-buttons {
    gap: 5px; /* Reduce the gap between buttons for smaller screens */
  }

  button {
    flex: 1 0 48%; /* Adjust button width for smaller screens */
  }
}
